<div class="span5">
  <h3>Possible additions to Itinerary</h3>
  <table class="table">
    <% @available_activities.each do |activity| %>
      <%= form_for @itinerary do |f| %>
        <%= f.hidden_field :activity_id, :value => activity.id %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.street %></td>
          <td><%= activity.city %></td>
          <td><%= activity.country %></td>
          <td><%= activity.phone %></td>
          <td><%= f.submit "Add to Itinerary" %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>