<div>
  <table id="itinerary">
    <% @current_activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.name, activity.link %></td>
        <td><%= activity.street %></td>
        <td><%= activity.city %></td>
        <td><%= activity.country %></td>
        <td><%= activity.phone %></td>
      </tr>
    <% end %>
  </table>
</div>