<h2><%= @itinerary.name %></h2>
<h3>Currently in Itinerary</h3>
<table id="itinerary">
  <% @current_activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.street %></td>
      <td><%= activity.city %></td>
      <td><%= activity.country %></td>
      <td><%= activity.phone %></td>
      <td><a href="#">Delete Activity (Not yet active)</a></td>
    </tr>
  <% end %>
</table>

<h3>Possible additions to Itinerary</h3>
<table>
  <% @available_activities.each do |activity| %>
    <%= form_for @itinerary do |f| %>
      <%= f.hidden_field :activity_id, :value => activity.id %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.street %></td>
        <td><%= activity.city %></td>
        <td><%= activity.country %></td>
        <td><%= activity.phone %></td>
        <td><%= f.submit "Add to Itinerary" %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<p>Finished editing? <%= link_to "Return to the Itinerary view", itinerary_path(@itinerary) %></p>