<h2><%= @itinerary.name %></h2>
<h3>Currently in Itinerary</h3>
<%= render "current_activities_list" %>

<%= gmaps4rails(@activity_map) %>

<% if @deal %>
  <p>Finished editing? <%= link_to "Return to the Itinerary view", itinerary_path(@itinerary) %></p>
  <div class="row">
    <%= render "deal_panel" %>
    <%= render "activity_picker" %>
  </div>
<% else %>
  <%= render "deal_picker" %>
<% end %>

