<h2><%= @itinerary.name %></h2>
<div class="row">
  <div class="span5">
    <p>Here's your trip! You can view it online here whenever you'd like, print it, or send it to yourself in an email.</p>
  </div>
  <div class="span4">
    <div class="btn-group pull-right">  
      <%= link_to "Back to all itineraries", itineraries_path, class: "btn" %>
      <%= link_to "Edit this Itinerary", edit_itinerary_path(@itinerary), class: "btn btn-primary" %>
      <%= link_to "Delete", itinerary_path(@itinerary), method: "delete", class: "btn btn-danger" %>
    </div>
  </div>
</div>

<div style="margin-bottom:20px;">
  <%= gmaps4rails(@json) %></p>
</div>

<table class="table" id="itinerary">
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.street %></td>
      <td><%= activity.city %></td>
      <td><%= activity.country %></td>
      <td><%= activity.phone %></td>
    </tr>
  <% end %>
</table>