<h2><%= @itinerary.name %></h2>
<%= link_to "Delete", itinerary_path(@itinerary), method: "delete" %>
<%= link_to "Edit this Itinerary", edit_itinerary_path(@itinerary) %>
<table id="itinerary">

</table>

<table>
  <% @activities.each do |activity| %>
    <tr>
      <td><%= activity.name %></td>
      <td><%= activity.street %></td>
      <td><%= activity.city %></td>
      <td><%= activity.country %></td>
      <td><%= activity.phone %></td>
    </tr>
  <% end %>
</table>