<div class="row">
  <div class="span6">
    <p>Not yet a member? No problem! Sign up here.</p>
    <p class="pull-right"><%= image_tag "/assets/arrow.png" %></p>
  </div>
  <div class="span3 well">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), ) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :password %>
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Sign up", class: "btn"%></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>
