<h2>Activities</h2>
<% if @activities == [] %>
  <% if @deals == [] %>
    <p>
      There are no activities or deals yet. Please check back soon!</td>
    </p>
  <% else %>
    <p>There are deals in the system. Build the list of related deals by clicking <%= link_to "here", new_activity_path %>.</p>
  <% end %>
<% else %>
  <%= gmaps4rails(@json) %>
  <%= link_to "Add Additional Activities", new_activity_path %>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Street</th>
      <th>City</th>
      <th>Country</th>
      <th>Phone</th>
    </tr>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id %></td>
        <td><%= activity.name %></td>
        <td><%= activity.street %></td>
        <td><%= activity.city %></td>
        <td><%= activity.country %></td>
        <td><%= activity.phone %></td>
        <td><%= activity.deal_activity_id %></td>
      </tr>
    <% end %>
  </table>
<% end %>
