<!DOCTYPE html>
<html>
<head>
  <title>Kip</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="yield8 offset2">
        <%= render "/layouts/alert_boxes" %>

        <%= render "/layouts/banner" %>
        <%= yield %>
        <%= yield :scripts %>
      </div>
    </div>        
  </div>

  <div class="footer">
    &nbsp;
  </div>

</body>
</html>
