<!DOCTYPE html>
<html>
<head>
  <title>Kip</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/iyk0pio.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container" style="margin-bottom:30px;">
    <div class="row">
      <div class="span10 offset1 main_wrapper">
        <div style="margin:20px;">
          <%= render "/layouts/alert_boxes" %>

          <%= render "/layouts/banner" %>
          <%= yield %>
          <%= yield :scripts %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
